<div ng-controller="marvelAppCtrl">

    <div id="busca">
        <input style="width: 250px;" type="text" ng-model="txtHero" placeholder="Character name">
        <button ng-click="findHero()">Search</button>

    </div>
    <hr>
    <div class="containerHeroes">
        <div class="card" ng-repeat="hero in heroes" ng-click="heroeDetail(hero.id)">
            <div class="thumb">
                <img width="100%" ng-src="{{hero.thumbnail.path + '/standard_small.' + hero.thumbnail.extension}}"
                    alt="">
            </div>
            <div>
                <span>{{hero.name}}</span>

            </div>

        </div>
    </div>
</div>